* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

:root {
    --main-color: #10455b;
    --sub-color: #ffaf20;
    --bg-color-01: #f9f3ed;
    --bg-color-02: #f1f1f1;
    --body-color: #535c5f;
    --main-font: 'Roboto Slab', serif;
}





/* -------- Navigation Rules -------- */
.topnav {
    overflow: hidden;
    background-color: var(--main-color);
    position: relative;
}

#myLinks { text-align: center; }
#myLinks a {
    border-top: 1px solid #0a3142;
    padding: 2rem 0;
}
  
.topnav #myLinks { display: none; }
  
.topnav a {
    color: white;
    padding: 3rem 3rem;
    text-decoration: none;
    font-family: var(--main-font);
    font-size: 1.8rem;
    display: block;
}

.logo-temple { color: var(--sub-color); }
  
.topnav a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}
  
.topnav a:hover {
    background-color: #ddd;
    color: black;
}





/* -------- Header Rules -------- */
header {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, transparent, rgba(0,0,0,.8)), url("../images/hotel/img-hero-02.jpg") bottom no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-heading { text-align: center; }
.main-heading i {
    color: white;
    font-size: 4rem;
}

.main-heading h1 {
    margin: 0;
    color: white;
    font-family: var(--main-font);
    font-size: 7rem;
}

.main-heading h2 {
    color: white;
    margin-top: 1rem;
    margin-bottom: 10rem;
    font-size: 3rem;
    font-weight: 400;
}

.main-heading a {
    padding: 1.5rem 3rem;
    color: white;
    font-size: 2rem;
    text-decoration: none;
    background-color: var(--sub-color);
    border-radius: 1rem;
}

.main-heading a:hover {
    background-color: var(--main-color);
    color: var(--sub-color);
    transition: .5s;
}





/* -------- Temple Nearby Rules -------- */
.temple-nearby { padding: 6rem 2rem; }
.temple-nearby h2 {
    margin: 0 0 1rem 0;
    font-size: 3rem;
    color: var(--main-color);
}

.temple-nearby {
    display: grid;
    grid-gap: 3rem;
}

.temple-nearby figure { margin: 0; }

.temple-nearby figure img {
    width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    text-align: center;
    margin: 0;
}

.temple-nearby figcaption {
    color: #292929;
    background-color: rgb(245, 245, 245);
    line-height: 1.4rem;
    padding: 1rem 5%;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.temple-nearby figcaption h3 {
    margin: 3rem 0;
    color: var(--sub-color);
    font-family: var(--main-font);
    font-size: 3rem;
}
.temple-nearby figcaption h4 {
    margin: 0 0 .5rem 0;
    color: #044166;
    font-size: 1.5rem;
    line-height: 2rem;
}

.temple-nearby p {
    color: var(--body-color);
    font-size: 1.5rem;
    line-height: 2.5rem;
    margin-bottom: 2rem;
}

.temple-nearby ul { margin-bottom: 2rem; }

.temple-nearby li {
    color: var(--body-color);
    text-decoration: none;
    font-size: 1.5rem;
    line-height: 2.5rem;
    list-style-type: none;
}




/* -------- AboutUs Rules -------- */
.aboutUs-section { padding: 6rem 2rem; }
.aboutUs-section h2 {
    margin: 0 0 1rem 0;
    font-size: 3rem;
    color: var(--main-color);
}

.art-aboutUs {
    font-size: 1.6rem;
    line-height: 2.5rem;
}

.art-aboutUs p { margin-bottom: 2rem; }

.aboutUs-section figure img {
    width: 100%;
    border-radius: 1rem;
}

.img-aboutUs figcaption {
    margin-top: 1rem;
    font-size: 1rem;
}





/* -------- OurRooms Rules -------- */
.ourRooms-section {
    padding: 6rem 2rem;
    background-color: var(--bg-color-02);
}
.ourRooms-section h2 {
    margin: 0 0 1rem 0;
    font-size: 3rem;
    color: var(--main-color);
}

.slide-show {
    max-width: 1000px;
    position: relative;
    margin: auto auto 3rem auto;
    border-radius: .5rem;
}
 
.mySlides { display: none; }
.mySlides img {
    border-radius: 1rem;
    width: 100%;
}
  
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
  
.number {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
  
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.art-ourRooms p {
    font-size: 1.6rem;
    line-height: 2.5rem;
}

.ourRooms-section article { margin-bottom: 4rem; }
.ourRooms-section h4 {
    margin: 0 0 1rem 0;
    color: #044166;
    font-size: 2rem;
}

.ourRooms-section ul {
    padding-left: 2rem;
    margin-bottom: 4rem;
}

.ourRooms-section li {
    font-size: 1.5rem;
    line-height: 2.5rem;
}

.ourRooms-section button {
    padding: 1rem 3rem;
    color: white;
    font-size: 2rem;
    text-decoration: none;
    background-color: var(--sub-color);
    border: 0;
    border-radius: 1rem;
}

.ourRooms-section a {
    text-decoration: none;
    color: white;
}





/* -------- Temple Photos Rules -------- */
.templePhotos-section {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, transparent, rgba(0,0,0,.5)), url("../images/hotel/img-lobby-01.jpg") bottom no-repeat;
    background-size: cover;
}





/* -------- OurAmenities Rules -------- */
.ourAmenities-section {
    padding: 6rem 2rem;
    background-color: var(--bg-color-02);
}

.pool-section { margin-bottom: 5rem; }
.cafe-section { margin-top: 5rem; }

.ourAmenities-section figure img {
    width: 100%;
    border-radius: 1rem;
}

.img-ourAmenities figcaption {
    margin: 1rem 0 3rem 0;
    font-size: 1rem;
}

.ourAmenities-section h2 {
    margin: 0 0 1rem 0;
    font-size: 3rem;
    color: var(--main-color);
}

.art-ourAmenities p {
    font-size: 1.6rem;
    line-height: 2.5rem;
}

.ourAmenities-section h3 {
    margin: 3rem 0 1rem 0;
    color: #044166;
    font-size: 2rem;
}





/* -------- Footer Rules -------- */
footer { background-color: var(--main-color); }

.footer-main {
    padding: 5rem 0;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
}

.footer-icons {
    margin-bottom: 2rem;
    font-size: 3.5rem;
}
.footer-icons a { 
    color: white;
    padding: 0 .5rem;
}

.footer-info p:first-child {
    color: var(--sub-color);
    margin-top: 2rem;
    margin-bottom: .6rem;
    font-family: var(--main-font);
    font-size: 2rem;
}

.footer-info p:last-child {
    font-size: 1.3rem;
}

.footer-disclaimer p {
    margin-top: 5rem;
    padding: 0 8rem;
    color: rgba(245, 245, 245, 0.2);
    text-align: center;
}

.footer-final {
    padding: 1.5rem 0;
    background-color: #0a3142;
    font-size: 1rem;
}

.footer-final p {
    color: white;
    text-align: center;
}





/* ==============================
--------- TEMPLES PAGE ---------
============================== */
.temples-section {
    padding: 6rem 2rem;
}

.temples-section h2 {
    margin: 0 0 1rem 0;
    font-size: 3rem;
    color: var(--main-color);
}

.temples-grid {
    display: grid;
    grid-gap: 3rem;
}

.temples-page { margin: 0; }

.temples-page img {
    width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    text-align: center;
    margin: 0;
}

.temples-grid figcaption {
    color: #292929;
    background-color: rgb(245, 245, 245);
    line-height: 1.4rem;
    padding: 1rem 5%;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.temples-grid figcaption h3 {
    margin: .8rem 0 .5rem 0;
    color: var(--sub-color);
    font-family: var(--main-font);
    font-size: 2rem;
}
.temples-grid figcaption h4 {
    margin: 0 0 .5rem 0;
    color: #044166;
    font-size: 1.5rem;
    line-height: 2rem;
}

.temples-grid p {
    font-size: 1.5rem;
    line-height: 2.5rem;
    margin-bottom: 2rem;
}




/* ===========================
----- RESERVATIONS PAGE -----
============================== */
.form-section { padding: 6rem 2rem; }
.form-section h2 {
    margin: 0 0 2rem 0;
    font-size: 3rem;
    color: var(--main-color);
}

.form-section fieldset {
    margin-bottom: 3rem;
    padding: 1.5rem;
    border: 2px solid #ddd;
    border-radius: 1rem;
}

.form-section legend {
    padding: 0 1rem;
    color: gray;
    font-size: 1.3rem;
    text-align: center;
}

.form-section .labels {
    display: block;
    padding-top: 2rem;
    font-size: 1.5rem;
    color: gray;
}

.labels input, .labels select, textarea {
    display: block;
    width: 100%;
    font-size: 1.5rem;
    padding: 1rem;
    color: gray;
    border-radius: 1rem;
    border: 2px solid #ddd;
    background-color: #eee;
}

.labels textarea { height: 15rem; }

.form-section .submitButton {
    display: block;
    margin-top: 2rem;
    width: 100%;
    font-size: 2rem;
    padding: 1rem;
    color: white;
    background-color: #39c2d7;
    border-radius: 1rem;
}

.labels input:required {
    border-left: var(--main-color) solid 6px;
}

.labels input:required:valid {
    border-left: var(--sub-color) solid 6px;
}

/* ---- Thanks Rules ---- */
main div.thanks { margin: 10rem 3%; }
main div.thanks h2 {
    font-size: .9rem;
    text-align: center;
    width: 100%;
    color: #044166;
}

.thankHeadings, .buttonDiv {
    text-align: center;
}

hr { width: 80%; margin: 1rem auto; }

.button {
    width: 10rem;
    font-size: 1.2rem;
    padding: .7rem;
    color: white;
    background-color: #39c2d7;
    border-radius: .3rem;
    border: none;
}

.button a { text-decoration: none; color: white; }