@media only screen and (min-width: 64rem) {
    nav button { display: none; }
    nav ul.hide { display: block; }
    nav li {
        float: left;
        width: 16%;
    }

    nav ul li a {
        border: none;
    }

    /* ---- Main Rules here ---- */
    /* ---- Section 1 ---- */
    .sctn {
        margin: 0 auto;
        width: 60%;
    }

    .sctn-01 { padding-bottom: 0;}

    .sctn-01 table th {
        font-size: 1.5rem;
        padding: .5rem;
    }
    
    .sctn-01 table {
        position: absolute;
        border: 1px solid;
        top: 3rem;
        left: 3rem;
        background-color: #39c2d7;
        font-size: 1rem;
        color: white;
        width: 13rem;
        padding: .8rem .5rem;
        opacity: 0.9;
    }

    /* ---- Section 2 ---- */
    .sctn-02 {
        display: block;
        padding: 2rem 3% 2rem 3%;
    }
    .sctn-02 h1 {
        margin: 0 1rem 1rem 1rem;
        text-align: center;
        color: #39c2d7;
        font-size: 1.5rem;
    }

    .forecast-table {
        width: 100%;
    }

    .sctn-02 .forecast-table, .forecast-th, .forecast-td {
        margin: 0 auto;
        border: 1px solid rgba(70, 70, 70, 0.2);
        border-collapse: collapse;
        padding: .5rem 1.5rem;
    }

    .forecast-th {
        align: center;
        background-color: #39c2d7;
        color: white;
    }

    /* ---- Section 3 ---- */
    .sctn-03 {
        background-color: #eee;
        padding-top: 4rem;
        padding-bottom: 4rem;
    }

    .sctn-03 h2 {
        font-size: 1.5rem;
        color: #333;
        margin-top: 0;
        margin-bottom: 0;
    }
    
    .sctn-03 h3 {
        font-size: 1rem;
        color: #333;
        margin-top: .25rem;
    }

    .sctn-03 picture {
        float: right;
        margin-left: 1.5rem;
    }

    .sctn-03 article p {
        line-height: 2rem;
    }

    /* ---- Footer Rules ---- */
    footer {
        clear: both;
    }

    .footer-div {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer-info {
        width: 19rem;
    }

    .footer-div picture {}

} /* End of Media Query */