* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* ---- Body Rules ---- */
body {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
}

/* ---- Header Rules ---- */
header {
    background-color: #39c2d7;
    padding: 1rem 2%;
}

header picture { margin: 0; }

header img {
    display: block;
    margin: 0 auto;
}

header h1 {
    text-align: center;
    color: #fff;
    margin: 0;
}

header h2 {
    text-align: center;
    font-size: 1rem;
    color: #044166;
    margin: 0 0 1rem 0;
}

/* ---- Navigation Rules ---- */
nav { background-color: #044166; }

nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #eee;
}

nav ul { margin: 0; padding: 0; }
nav li { list-style-type: none;}
nav li.active { background-color: #033249; }
nav a {
    padding: .8rem;
    color: #eee;
    text-align: center;
    text-decoration: none;
}

nav ul li a {
    display: block;
    padding: .8rem 2%;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

nav a:hover { background-color: rgba(3, 50, 73, 0.9); }

nav ul.hide { display: none; }

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/* ---- Main Rules ---- */
.sctn-01 {
    padding: 2rem 3%;
    display: block;
}

.sctn-01 h1 {
    font-size: 1.5rem;
    text-align: center;
    color: #39c2d7;
    margin-top: 0;
}

.sctn-hero {
    position: relative;
}

.sctn-01 picture { width: 100%; margin: 0; }
.sctn-01 picture img { width: 100%; }

.sctn-01 table th {
    padding: .5rem;
}

.sctn-01 table {
    position: absolute;
    border: 1px solid;
    top: 1rem;
    left: 1rem;
    background-color: #39c2d7;
    font-size: .8rem;
    color: white;
    width: 10rem;
    padding: .8rem .5rem;
    opacity: 0.9;
}

.sctn-02 {
    display: none;
}

.sctn-03 {
    background-color: #eee;
    padding: 1rem 3%;
}
.sctn-03 picture { margin: 0 0 1rem 0; }
.sctn-03 picture img { width: 100%; }

.sctn-03 article h2 {
    font-size: 1.5rem;
    color: #333;
}

.sctn-03 article h3 {
    font-size: 1rem;
    color: #333;
    text-align: center;
    margin-top: .25rem;
}

.sctn-03 article p {
    line-height: 1.5rem;
    color: #333;
}


/* ---- Footer Rules ---- */
.footer-info h2 {
    margin-top: 1rem;
    font-size: 1.5rem;
    color: #39c2d7;
}

.footer-info hr { width: 30%; }

.footer-info {
    color: #eee;
    text-align: center;
    background-color: #044166;
    padding: 1rem;
}

.footer-info picture { width: 100%; margin: 0; padding: 1rem 2%; }
.footer-info picture img { width: 100%; border-radius: 1rem; }

.footer-icon { width: 3rem; border-radius: .5rem; margin: 1rem .5%; }

.footer-copy {
    color: #eee;
    text-align: center;
    background-color: #39c2d7;
    margin: 0;
    padding: .3rem 2%;
}